{% extends 'home.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="mb-0">Password Changed</h3>
                </div>
                <div class="card-body">
                    <p class="lead">Your password has been successfully changed.</p>
                    <a href="{% url 'accounts:detail %}" class="btn btn-primary">Return to Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}